@theme {
    /* font sizes */
    /**
    | Here is where you define your text sizes. Name these in whatever way
    | makes the most sense to you. We use size names by default, but
    | you're welcome to use a numeric scale or even something else
    | entirely.
    |
    | By default Tailwind uses the "rem" unit type for most measurements.
    | This allows you to set a root font size which all other sizes are
    | then based on. That said, you are free to use whatever units you
    | prefer, be it rems, ems, pixels or other.
    |
    | Class name: .text-{size}
    | CSS property: font-size
    |
     */
    --text-*: initial;
    --text-xs: .75rem;
    --text-xs--line-height: 1.1rem;
    --text-sm: var(--font-size-sm-value);
    --text-sm--line-height: var(--line-height-sm-value);
    --text-base: var(--font-size-base-value);
    --text-base--line-height: var(--line-height-base-value);
    --text-lg: var(--font-size-lg-value);
    --text-lg--line-height: var(--line-height-lg-value);
    --text-xl: var(--font-size-xl-value);
    --text-xl--line-height: var(--line-height-xl-value);
    --text-2xl: var(--font-size-2xl-value);
    --text-2xl--line-height: var(--line-height-2xl-value);
    --text-3xl: var(--font-size-3xl-value);
    --text-3xl--line-height: var(--line-height-3xl-value);
    --text-4xl: var(--font-size-4xl-value);
    --text-4xl--line-height: var(--line-height-4xl-value);
}