<h1 class="text-4xl font-medium font-gilmer w-[45%]">
    Unikátní investiční<br> mince s motivy mistrů světa <span class="text-gold-light">Formule&nbsp;1.</span>
</h1>
<div class="flex mt-[5vw] gap-x-10">
    <div class="know-more">
        Zjistit více
    </div>
    <div class="flex items-center text-gold-light gap-x-4 cursor-pointer">
        <div>{% inlineSvg "images/vectors/basket.svg" %}</div>
        <div>Koupit v e-shopu</div>
    </div>
</div>