<button class="flex flex-col gap-2 items-end cursor-pointer ml-10 3xl:ml-23">
    <span class="w-7 lg:w-9 h-0.5 bg-white"></span>
    <span class="w-5 lg:w-7 h-0.5 bg-white"></span>
    <span class="w-3 lg:w-5 h-0.5 bg-white"></span>
</button>