<div class="flex justify-between w-69 border border-grey-300 rounded-full px-5.5 py-4.5 border-box cursor-pointer">
    <span class="block text-grey-200 leading-none text-sm">
        Vyberte si legendu
    </span>
    <span class="flex items-center text-gold-light">
        {% inlineSvg "images/vectors/outline_arrow.svg" %}
    </span>
</div>