<div class="flex items-center gap-4 text-gold-light cursor-pointer text-sm underline underline-offset-2 whitespace-nowrap">
    <div>
        {% inlineSvg "images/vectors/chart_icon.svg" %}
    </div>
    <div>Vývoj cen</div>
</div>