<div class="flex items-center pt-9.5 gap-x-10">
    <div class="flex items-center gap-12">
        {% include "./header/left-side/left-side.njk" %}
    </div>
    <div class="ml-auto flex gap-12">
        {% include "./header/right-side/right-side.njk" %}
    </div>
    <div class="justify-self-start">
        {% include "./header/hamburger-menu.njk" %}
    </div>
</div>