@import 'tailwindcss';
@import './theme';
@import './sources';

@import './tw/base';
@import './tw/components';
@import './tw/utilities';
@import "./fluids";

/* Place the styles that are outside
   the layers for top priority. */

